/*.back {*/
/*margin-left: 3%;*/
/*    margin-top: 3%;*/
/*    width: 20px;*/
/*    display: inline;*/

/*}*/

/*.back img{*/
/*    margin-left: 3%;*/
/*    margin-top: 3%;*/
/*    width: 20px;*/
/*    display: inline;*/

/*}*/


.arrow-img{
    position: relative;
    top: 10%;
    left: 10%;
    width: 20px;

}
