.onereview-comp{
    margin: 10px;
    text-align: center;
    padding: 2%;
    box-shadow: 5px 5px 10px #c5c3c3;
    border-radius: 18px;
}

.onereview-comp img{
    width: 20%;
    margin-top: -40px;
}

.onereview-comp .onereview-text{
    line-height: 140%;
    font-size: 17px;
    margin-top: -10px;
}

.onereview-comp .onereview-user{
    font-size: 21px;
}