.wrapper{
}

header{
    /*border-bottom: 1px solid darkgray;*/
}

header .header-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
}

header .header-container .header-logo img{
    width: 50%;
}

header .header-container .header-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*margin-left: 30%;*/
    width: 70%;

}

header .header-container .header-nav a{
    margin-right: 30px;
    text-decoration: none;
}

header .header-container .header-nav a:hover{
    color: #668f73;
    transform:scale(1.05);

}

header .header-container .header-logo-orly{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3%;
}

header .header-container .header-logo-orly img{
    width: 80px;
}

.main{
}

.main .main-container{
    max-width: 1440px;
    margin: 0 auto;
}

footer{
    /*border-top: 1px solid darkgray;*/
    /*margin-top: 3%;*/

}

footer .footer-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
}


footer .footer-container img{
    width: 20%;
}

footer .footer-container .footer-nav{
    display: flex;
    align-items: center;
}

footer .footer-container .footer-nav a{
    margin-right: 30px;
    text-decoration: none;
    cursor: pointer;

}

footer .footer-container .footer-nav a:hover{
    color: #668f73;
    transform:scale(1.05);
}
