/*.img{*/
/*    width: 300px;*/
/*}*/

/* стили точечек под слайдами, тоесть на каком слайде ми находимся */
.swiper-pagination-bullet{
    background-color: white;
}

/* cтили стрелок */
.swiper .swiper-button-next::after{
    color: #3b7a4e;
    font-size: 20px;
}


.swiper .swiper-button-prev::after{
    color: #3b7a4e;
    font-size: 20px;
}

/* стили для вивода одной полоской */
.swiperimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}